<div class="col-md-10" style="padding-top: 50px; padding-left: 50px;">
  <h2>JANUARY INSIGHTS IAS CURRENT AFFAIRS – 2020</h2>
  <div class="panel-group" id="accordion">
    <% (1..3).each do |i| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <font data-toggle="collapse" data-parent="#accordion" class="pointer" href="#<%= i %>"><%= i %></font>
        </h4>
      </div>
      <div id="<%= i %>" class="panel-collapse collapse <%= i == 1 ? 'in' : '' %>">
        <div class="panel-body">
          <div class="list-group">
            <a href="#" class="list-group-item">First item</a>
            <a href="#" class="list-group-item">Second item</a>
            <a href="#" class="list-group-item">Third item</a>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class="col-md-2" style="padding-top: 50px; padding-left: 10px;">
  <div class="panel panel-default">
    <div class="panel-heading">
      Daily Quiz
    </div>
    <div class="panel-body text-center">
      <img src="/assets/quiz.jpeg" class="image" width="100%" height="80px"/><br/><br/>
      The following current affairs quiz will help in facing General Studies Paper – 1 of UPSC civil services preliminary exam. Questions will be both conceptual and factual. Current affairs form the bulk of UPSC IAS exam preparation. Solving daily questions based on current affairs will help you both understand issues and remember facts better.
      <br/>
      <br/>
      <button type="button" class="btn btn-default">Take Test</button>
    </div>
  </div>
</div>
<style>
  h2 {
    font-weight:600;
  }
.pointer {
  cursor: pointer;
}
.image {
  filter: blur(0px);
 -webkit-filter: blur(0px);
  background-color: transparent !important;
  background-image: url(/assets/quiz.jpeg);
}
.insight-upsc {
  color: black;
  font-weight: 600;
}
</style>
