<div class="x_panel">
  <div class="x_title">
    <h2>New Category</h2>
    <div class="clearfix"></div>
  </div>
    <%= render 'form', category: @category %>
</div>

<%= link_to 'Back', categories_path %>
